@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth
}

@layer base {
  body{
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
    direction: rtl;
    font-family: estedad;
  }

  h1,h2,h3,h4,h5 {
    @apply font-bold
  }

  h1 {
    @apply text-xl md:text-2xl lg:text-3xl;
    font-family: Estedad-semibold;
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  h3{
    font-family: Estedad-semibold;
  }
  h4{
    font-family: Estedad-regular;
  }
  h5{
    font-family: Estedad-semibold;
  }
  h6{
    font-family: Estedad-medium;
  }
  :link{
    font-family: Estedad-medium;
  }
  li{
    @apply cursor-pointer;
    font-family: Estedad-Regular;
  }

  button {
    font-family: Estedad-Regular;
  } 

  p{
    font-family: "Estedad-regular";
  }
  
  input,textarea{
    font-family: "Estedad-regular";
  }
  
}

.ant-btn{
display: none;
}