@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply tracking-wide;
    direction: rtl;
    @apply dark:bg-[#0C0A09] dark:text-white bg-[#FAFAFA] text-[#1f2937];
  }

  h1 {
    @apply font-[Estedad-extrabold] text-3xl md:text-[40px] mb-10 drop-shadow-md;
  }

  h2 {
    @apply text-3xl sm:text-4xl font-[Estedad-semibold];
  }
  h3 {
    font-family: Estedad-semibold;
  }
  h4 {
    font-family: Estedad-regular;
  }
  h6 {
    font-family: Estedad-medium;
  }
  :link {
    font-family: Estedad-medium;
  }
  li {
    @apply cursor-pointer;
    font-family: Estedad-Regular;
  }

  button {
    font-family: Estedad-medium;
  }

  p {
    font-family: "Estedad-regular";
  }

  input,
  textarea {
    font-family: "Estedad-regular";
  }
}

.ant-btn {
  display: none;
}

.nav-item .active {
  color: blue;
  transform: scale(1.5);
}
